In [23]:
import time
import os
import pickle
import pandas as pd
pd.set_option('display.max_colwidth', 1000)
import numpy as np
import json
import pandas_profiling
from datetime import datetime

###  Feature Engineering

In [24]:
def createSimpleFeatures(season):
    season['homeGoalsTotal'] = season.homeGoals + season.awayOwnGoal
    season['awayGoalsTotal'] = season.awayGoals + season.homeOwnGoal
    #labels
    season['outcome'] = np.where(season.homeGoalsTotal > season.awayGoalsTotal,
                                'Home Win', np.where(season.homeGoalsTotal < season.awayGoalsTotal,
                                                     "Away Win", "Draw"))
    #These variables are incorrect in the web scraped data, we will recreate them after.
    season.drop(['homeWins', 'homeDraws', 'homeLosses', 'awayWins', 'awayDraws', 'awayLosses'], axis = 1, inplace = True)

In [25]:
#getting standings at the stage of each match
def getStandings(season):
    finalStandings = pd.DataFrame(columns = ['homeTeam', 'awayTeam', 'homeWins', 'homeDraws', 'homeLosses',
                                        'awayWins', 'awayDraws', 'awayLosses'])
    homeTeams = sorted(season.homeTeam.unique())
    for team in homeTeams:
        standings = pd.DataFrame(columns = ['homeTeam', 'awayTeam', 'wins', 'draws', 'losses'])
        teamData = season[(season.homeTeam == team) | (season.awayTeam == team)]
        for i in range(len(teamData)):
            #iterate through each game for this team
            tempdf = teamData.iloc[:i,:][['homeTeam', 'awayTeam', 'outcome']]
            #calculate the number of wins,draws, and losses they have up until this point in time
            wins = len(tempdf[((tempdf.homeTeam == team) & (tempdf.outcome == 'Home Win') |
                     (tempdf.awayTeam == team) & (tempdf.outcome == 'Away Win'))])

            draws = len(tempdf[((tempdf.homeTeam == team) & (tempdf.outcome == 'Draw') |
                     (tempdf.awayTeam == team) & (tempdf.outcome == 'Draw'))])

            losses = len(tempdf[((tempdf.homeTeam == team) & (tempdf.outcome == 'Away Win') |
                     (tempdf.awayTeam == team) & (tempdf.outcome == 'Home Win'))])
            #specify who was playing at home, and who was playing away
            home = teamData.iloc[i,:].homeTeam

            away = teamData.iloc[i,:].awayTeam

            #create a dataframe that contains who was playing, and the W/D/L record for the team we are interested in
            teamstandings = pd.DataFrame([[home,away,wins,draws,losses]],
                                        columns = ['homeTeam', 'awayTeam', 'wins','draws','losses'])
            #append that row of standings to a dataframe
            standings = standings.append(teamstandings)

            #since we need the W/D/L record at each game, regardless if the team of interest is playing 
            #at home or away, we need to split this out into homeWins if the team of interest is playing
            #at home in the next game, and vice versa
            homeStandings = standings[standings['homeTeam']==team] #rename to homeWins, homeDraws, homeLosses
            homeStandings.rename({'wins': 'homeWins', 'draws': 'homeDraws',
                                  'losses': 'homeLosses'}, axis = 1,inplace = True)

            awayStandings = standings[standings['awayTeam']==team] #rename to awayWins, awayDraws, awayLosses
            awayStandings.rename({'wins': 'awayWins', 'draws': 'awayDraws',
                                  'losses': 'awayLosses'}, axis = 1,inplace = True)
            #merge the two dataframes so that you have every game that the team of interest plays, and their 
            #W/D/L record in the appropriate home/away columns
            compositeStandings = pd.merge(homeStandings, awayStandings, how='outer', 
                           left_on=['homeTeam','awayTeam'], right_on = ['homeTeam','awayTeam'])
    
        finalStandings = pd.concat([finalStandings,compositeStandings], ignore_index = True)
    finalStandings = finalStandings.groupby(['homeTeam', 'awayTeam'], as_index =False).max()
    return finalStandings

In [26]:
def topPlayerOut(topList, missingList):
    for i in topList:
        if i in missingList:
            return True

In [27]:
def readAndClean(season):
    odds = pd.read_pickle('../odds/odds%s.pkl' % (season))
    seasondata = pd.read_json('../seasons/%s.json' % (season))
    seasondata = seasondata[seasondata.url != 'dummy']
    addtl = pd.read_json('../seasons/addtlinfo%s.json' % (season))
    addtl = addtl.drop('url', axis = 1)
    odds.awayTeam.replace({'Manchester City': 'Man City', 'Manchester United': 'Man Utd',
                           'Stoke\n ': 'Stoke', 'Hull City': 'Hull'}, inplace = True)
    odds.homeTeam.replace({'Manchester City': 'Man City', 'Manchester United': 'Man Utd',
                           'Stoke\n ': 'Stoke', 'Hull City': 'Hull'}, inplace = True)
    df = pd.merge(seasondata, odds,  how='left', left_on=['homeTeam','awayTeam'], right_on = ['homeTeam','awayTeam'])
    df = pd.merge(df, addtl, how = 'left', left_on = ['homeTeam', 'awayTeam'], right_on = ['homeTeam', 'awayTeam'])
    #calculate binaries for when a team has a top player missing/doubtful
    df['homeTopPlayerMissing'] = df.apply(lambda row: 1 if topPlayerOut(row['homeTopPlayers'], row['missingPlayers']) else 0, axis = 1)
    df['awayTopPlayerMissing'] = df.apply(lambda row: 1 if topPlayerOut(row['awayTopPlayers'], row['missingPlayers']) else 0, axis = 1)
    df['homeTopPlayerDoubtful'] = df.apply(lambda row: 1 if topPlayerOut(row['homeTopPlayers'], row['doubtfulPlayers']) else 0, axis = 1)
    df['awayTopPlayerDoubtful'] = df.apply(lambda row: 1 if topPlayerOut(row['awayTopPlayers'], row['doubtfulPlayers']) else 0, axis = 1)
    #create outcome label, total goals by game, and drop incorrect columns
    createSimpleFeatures(df)
    #create standings by gameweek
    standings = getStandings(df)
    #FULL DATASET
    df = pd.merge(df, standings,  how='left', left_on=['homeTeam','awayTeam'], right_on = ['homeTeam','awayTeam'])
    return df

In [205]:
s1011 = readAndClean('20102011')
s1112 = readAndClean('20112012')
s1213 = readAndClean('20122013')
s1314 = readAndClean('20132014')
s1415 = readAndClean('20142015')
s1516 = readAndClean('20152016')
s1617 = readAndClean('20162017')

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [28]:
s1718 = readAndClean('20172018')

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [230]:
s1011.to_pickle("final1011.pkl")
s1112.to_pickle("final1112.pkl")
s1213.to_pickle("final1213.pkl")
s1314.to_pickle("final1314.pkl")
s1415.to_pickle("final1415.pkl")
s1516.to_pickle("final1516.pkl")
s1617.to_pickle("final1617.pkl")

In [29]:
s1718.to_pickle("final1718.pkl")

# Move to Modeling Notebook

### Below is exploration

Current Features: [['homeTeam', 'awayTeam', 'homePredAvgAge', 'awayPredAvgAge', 'homePredAvgHeight', 'awayPredAvgHeight', 'homeWins', 'homeDraws', 'homeLosses', 'awayWins', 'awayDraws', 'awayLosses']]

Want to work on formation/manager/missing players/top players/referee

In [257]:
#DATASET CONTAINING PREVIEW FEATURES
preview1516 = s1516[['date','homeTeam', 'awayTeam', 'homePredAvgAge', 'awayPredAvgAge',
                     'homePredAvgHeight', 'awayPredAvgHeight', 'homeWins',
                     'homeDraws', 'homeLosses', 'awayWins', 'awayDraws', 'awayLosses',
                     ]]

# 'homeTopPlayerMissing', 'homeTopPlayerDoubtful', 'awayTopPlayerMissing',
#                      'awayTopPlayerDoubtful'

In [258]:
#DATASET CONTAINING PAST FEATURES - THIS WILL BE AVERAGED
past1516 = s1516.drop(['homePredAvgAge', 'awayPredAvgAge',
                       'homePredAvgHeight', 'awayPredAvgHeight', 'homeWins', 
                       'homeDraws', 'homeLosses', 'awayWins', 'awayDraws', 'awayLosses',
                       'awayFormation', 'awayManager', 'awayTopPlayers', 'homeFormation',
                       'homeManager', 'homeTopPlayers', 'referee', 'url', 'awayOdds', 'drawOdds',
                       'homeOdds', 'outcome'], axis = 1)

# , 'homeTimeline', 'awayTimeline', 'homeTopPlayerMissing',
#                        'homeTopPlayerDoubtful', 'awayTopPlayerMissing', 'awayTopPlayerDoubtful',
#                        'missingPlayers', 'doubtfulPlayers'

In [259]:
def getPastStats(home, away, numGames = 5):
    mask = (past1516.homeTeam == home) & (past1516.awayTeam == away)
    gameDate = past1516[mask].date.values[0]
    awayMask = (past1516.awayTeam == away) & (past1516.date < gameDate)
    homeMask = (past1516.homeTeam == home) & (past1516.date < gameDate)
    awayGames = numGames
    homeGames = numGames
    if len(past1516[awayMask] < numGames):
        awayGames = len(past1516[awayMask])
    if len(past1516[homeMask] < numGames):
        homeGames = len(past1516[homeMask])
    temp = past1516.drop('date', axis = 1)    
    homeTeamStats = temp[homeMask].iloc[-homeGames:,:].mean()#.to_frame().T
    awayTeamStats = temp[awayMask].iloc[-awayGames:,:].mean()#.to_frame().T
    homeTeamStats['homeTeam'] = home
    homeTeamStats['awayTeam'] = away
    awayTeamStats['awayTeam'] = away
    awayTeamStats['homeTeam'] = home
    return homeTeamStats, awayTeamStats

The getPastStats function returns TWO dataframes. one consists of average offensive and defensive stats for the home team, when they are playing at home, and the other consists of average offensive and defensive stats for the away team, when they are playing away.

In [260]:
pastHomeStats = pd.DataFrame(columns = past1516.columns.values).add_prefix("hometeamavg_")
pastAwayStats = pd.DataFrame(columns = past1516.columns.values).add_prefix("awayteamavg_")

homeTeams = sorted(past1516.homeTeam.unique())

for i in homeTeams:
    opp = [x for x in homeTeams if x != i]
    for j in opp:
        pastHomeStats = pastHomeStats.append(getPastStats(i,j, 5)[0].add_prefix("hometeamavg_"), ignore_index = True)
        pastAwayStats = pastAwayStats.append(getPastStats(i,j, 5)[1].add_prefix("awayteamavg_"), ignore_index = True)

In [261]:
pastHomeStats.drop('hometeamavg_date', axis = 1, inplace = True)
pastAwayStats.drop('awayteamavg_date', axis = 1, inplace = True)
pastHomeStats.rename(columns = {'hometeamavg_homeTeam': 'homeTeam', 'hometeamavg_awayTeam': 'awayTeam'}, inplace =True)
pastAwayStats.rename(columns = {'awayteamavg_homeTeam': 'homeTeam', 'awayteamavg_awayTeam': 'awayTeam'}, inplace =True)

In [262]:
pastStats = pd.merge(pastHomeStats, pastAwayStats,  how='left', left_on=['homeTeam','awayTeam'], right_on = ['homeTeam','awayTeam'])

In [263]:
df = pd.merge(preview1516, pastStats, how='left', left_on=['homeTeam','awayTeam'], right_on = ['homeTeam','awayTeam'])

1. Create dataframe with one row with ALL features
2. Keep game weeks 31-38 per season as test set
3. Use k-folds cross val on the 70% of data (dont worry about messing with the dates?)
4. Predict game 31 using data from 1-30. Partial fit to include game 31.
5. Predict games 32-38 using similar steps as above
6. Look into categorical variables/Cross- season modeling

# Classification

In [401]:
from sklearn.preprocessing import scale
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [402]:
def profit(unit, odds):
    profit = 0
    if odds > 0:
        profit = odds*(unit/100)
    else:
        profit = -(100/odds) * unit
    return profit

In [403]:
def totalProfit(unit, pred): #add second argument of predictions
    oddsTable = s1516[['date','homeTeam', 'awayTeam', 'homeOdds', 'awayOdds',
                       'drawOdds', 'outcome']][split+20:].reset_index(drop=True)
    oddsTable['prediction'] = pred
    oddsTable['outcomeOdds'] = np.where(oddsTable['outcome'] == 'Home Win',
                                        oddsTable.homeOdds,
                                        np.where(oddsTable['outcome'] == 'Away Win',
                                                 oddsTable.awayOdds,
                                                 oddsTable.drawOdds))
    oddsTable['outcomeOdds'] = pd.to_numeric(oddsTable.outcomeOdds)
    oddsTable.outcomeOdds.apply(lambda x: profit(unit, x));
    oddsTable['profit'] = oddsTable.apply(lambda row:
                                          profit(unit, row['outcomeOdds']) if row['outcome'] == row['prediction']
                                          else -unit, axis = 1)
    return oddsTable.profit.sum()

In [404]:
X = df.drop(['homeTeam', 'awayTeam', 'date'], axis = 1).iloc[20:,:].reset_index(drop=True)
y = s1516.outcome[20:].reset_index(drop=True)

In [405]:
trainSize = 0.7
split = round(len(X)*trainSize)

In [406]:
X_train, y_train, X_test, y_test = X.iloc[:split, :], y[:split], X.iloc[split:, :], y[split:]

In [407]:
sX_train = scale(X_train)
sX_test = scale(X_test)

In [411]:
unit = 15
log = LogisticRegression()
log.fit(sX_train, y_train)
pred = log.predict(sX_test)
print("Log: %s" % (accuracy_score(y_test, pred)))
print("Total Profit betting 15$ each time: %s" % (totalProfit(unit,pred)))

knn = KNeighborsClassifier()
knn.fit(sX_train, y_train)
pred = knn.predict(sX_test)
print("\nKNN: %s" % (accuracy_score(y_test, pred)))
print("Total Profit betting 15$ each time: %s" % (totalProfit(unit,pred)))

nb = GaussianNB()
nb.fit(sX_train, y_train)
pred = svm.predict(sX_test)
print("\nNB: %s" %(accuracy_score(y_test,pred)))
print("Total Profit betting 15$ each time: %s" % (totalProfit(unit,pred)))

svc = SVC()
svc.fit(sX_train, y_train)
pred = svc.predict(sX_test)
print("\nSVC: %s" %(accuracy_score(y_test,pred)))
print("Total Profit betting 15$ each time: %s" % (totalProfit(unit,pred)))

rforest = DecisionTreeClassifier()
rforest.fit(X_train, y_train)
pred = rforest.predict(X_test)
print("\nRandom Forest: %s" % (accuracy_score(y_test,pred)))
print("Total Profit betting 15$ each time: %s" % (totalProfit(unit,pred)))

rforest2 = RandomForestClassifier(15)
rforest2.fit(X_train, y_train)
pred = rforest2.predict(X_test)
print("\nRandom Forest Classifier: %s" % (accuracy_score(y_test, pred)))
print("Total Profit betting 15$ each time: %s" % (totalProfit(unit,pred)))

Log: 0.4537037037037037
Total Profit betting 15$ each time: 256.2343663605082

KNN: 0.4074074074074074
Total Profit betting 15$ each time: -74.26357812470721

NB: 0.48148148148148145
Total Profit betting 15$ each time: 42.44618264637794

SVC: 0.48148148148148145
Total Profit betting 15$ each time: -165.85526452409317

Random Forest: 0.4166666666666667
Total Profit betting 15$ each time: -36.796475065854

Random Forest Classifier: 0.46296296296296297
Total Profit betting 15$ each time: -80.38841196333814

In [333]:
#oddsTable.groupby('date').profit.sum()

### Writing to pickle

In [137]:
def writeData(df):
    df.to_pickle("%s.pkl" % (df[0] + df[3:5] + df[7:9]))

In [ ]:
def getPreviewStats(season):
    #DATASET CONTAINING PREVIEW FEATURES
    preview = season[['date','homeTeam', 'awayTeam', 'homePredAvgAge', 'awayPredAvgAge',
                     'homePredAvgHeight', 'awayPredAvgHeight', 'homeWins',
                     'homeDraws', 'homeLosses', 'awayWins', 'awayDraws', 'awayLosses',
                     'homeTopPlayerMissing', 'homeTopPlayerDoubtful', 'awayTopPlayerMissing',
                     'awayTopPlayerDoubtful']]
    return preview

In [ ]:
def getPastStats(season):
    #DATASET CONTAINING PAST FEATURES - THIS WILL BE AVERAGED by using the getPastAverages function
    past = season.drop(['homePredAvgAge', 'awayPredAvgAge',
                       'homePredAvgHeight', 'awayPredAvgHeight', 'homeWins', 
                       'homeDraws', 'homeLosses', 'awayWins', 'awayDraws', 'awayLosses',
                       'awayFormation', 'awayManager', 'awayTopPlayers', 'homeFormation',
                       'homeManager', 'homeTopPlayers', 'referee', 'url', 'awayOdds', 'drawOdds',
                       'homeOdds', 'outcome', 'homeTimeline', 'awayTimeline', 'homeTopPlayerMissing',
                       'homeTopPlayerDoubtful', 'awayTopPlayerMissing', 'awayTopPlayerDoubtful',
                       'missingPlayers', 'doubtfulPlayers'], axis = 1)

    return past

In [244]:
def getPastAverages(season, window_size):
    homepaststats = season.groupby('homeTeam', as_index = False).rolling(window_size, min_periods = 1).mean().reset_index(level = 0, drop = True).add_prefix("home_")
    homepaststats.rename(columns = {'home_homeTeam': 'homeTeam', 'home_awayTeam': 'awayTeam'}, inplace = True)
    #make list of all columns
    shiftcolumns = homepaststats.columns.values[2:] #if the first 2 columns are home team and away team
    homepaststats[shiftcolumns] = homepaststats.groupby(['homeTeam'])[shiftcolumns].transform(lambda x:x.shift())
    
    awaypaststats = season.groupby('awayTeam', as_index = False).rolling(window_size, min_periods = 1).mean().reset_index(level = 0, drop = True).add_prefix("away_")
    awaypaststats.rename(columns = {'away_homeTeam': 'homeTeam', 'away_awayTeam': 'awayTeam'}, inplace = True)
    #make list of all columns
    shiftcolumns = awaypaststats.columns.values[2:] #if the first 2 columns are home team and away team
    awaypaststats[shiftcolumns] = awaypaststats.groupby(['awayTeam'])[shiftcolumns].transform(lambda x:x.shift())

    pastStats = pd.merge(homepaststats, awaypaststats,  how='outer', left_on=['homeTeam','awayTeam'], right_on = ['homeTeam','awayTeam'])
    return pastStats

In [252]:
homepaststats = s1011.groupby('homeTeam', as_index = False)[['homeTeam', 'awayTeam', 'awayClearanceFeet']].rolling(5, min_periods = 1).mean().reset_index(level = 0, drop = True).add_prefix("home_")
homepaststats.rename(columns = {'home_homeTeam': 'homeTeam', 'home_awayTeam': 'awayTeam'}, inplace = True)
#make list of all columns
shiftcolumns = homepaststats.columns.values[2:] #if the first 2 columns are home team and away team
homepaststats[shiftcolumns] = homepaststats.groupby(['homeTeam'])[shiftcolumns].transform(lambda x:x.shift())

In [239]:
awaypaststats = s1011.groupby('awayTeam', as_index = False)[['homeTeam', 'awayTeam', 'awayClearanceFeet']].rolling(5, min_periods = 1).mean().reset_index(level = 0, drop = True).add_prefix("away_")
awaypaststats.rename(columns = {'away_homeTeam': 'homeTeam', 'away_awayTeam': 'awayTeam'}, inplace = True)
#make list of all columns
shiftcolumns = awaypaststats.columns.values[2:] #if the first 2 columns are home team and away team
awaypaststats[shiftcolumns] = awaypaststats.groupby(['awayTeam'])[shiftcolumns].transform(lambda x:x.shift())

In [240]:
s1011.shape

(380, 159)

In [241]:
pastStats = pd.merge(homepaststats, awaypaststats,  how='outer', left_on=['homeTeam','awayTeam'], right_on = ['homeTeam','awayTeam'])

In [246]:
test = s1011.drop('date', axis = 1)

In [251]:
x = getPastAverages(test, 5)

In [242]:
pastStats

        homeTeam     awayTeam  home_awayClearanceFeet  away_awayClearanceFeet
0        Arsenal    Blackpool                     NaN               16.000000
1        Arsenal       Bolton               12.000000               22.000000
2        Arsenal    West Brom                8.500000               18.500000
3        Arsenal   Birmingham               16.000000               12.333333
4        Arsenal     West Ham               13.750000               16.750000
5        Arsenal    Newcastle               14.400000               12.600000
6        Arsenal    Tottenham               16.200000               13.800000
7        Arsenal       Fulham               17.600000               15.800000
8        Arsenal      Chelsea               13.400000                8.600000
9        Arsenal     Man City               13.000000               17.600000
10       Arsenal        Wigan               12.400000               23.000000
11       Arsenal      Everton               11.600000               21.800000
12       Arsenal       Wolves               12.200000               13.400000
13       Arsenal        Stoke               13.800000               13.200000
14       Arsenal   Sunderland               16.600000               19.000000
15       Arsenal    Blackburn               16.200000               18.800000
16       Arsenal    Liverpool               18.000000               18.600000
17       Arsenal      Man Utd               17.800000               12.400000
18       Arsenal  Aston Villa               16.000000               12.400000
19   Aston Villa     West Ham                     NaN                     NaN
20   Aston Villa      Everton               18.000000               15.000000
21   Aston Villa       Bolton               15.500000               13.500000
22   Aston Villa      Chelsea               18.333333                9.666667
23   Aston Villa   Birmingham               15.250000               11.000000
24   Aston Villa    Blackpool               14.600000               20.200000
25   Aston Villa      Man Utd               14.400000               15.000000
26   Aston Villa      Arsenal               14.800000               16.800000
27   Aston Villa    West Brom               12.800000                9.600000
28   Aston Villa    Tottenham               13.600000               17.200000
29   Aston Villa   Sunderland               16.200000               20.800000
..           ...          ...                     ...                     ...
350        Wigan        Stoke               11.000000               14.200000
351        Wigan      Arsenal               11.000000               16.200000
352        Wigan    Newcastle               12.000000               13.200000
353        Wigan       Fulham               12.800000               16.600000
354        Wigan  Aston Villa               12.200000               12.000000
355        Wigan    Blackburn               14.200000               19.800000
356        Wigan      Man Utd               14.200000               14.800000
357        Wigan   Birmingham               13.200000               15.600000
358        Wigan    Tottenham               12.800000               15.400000
359        Wigan      Everton               14.000000               20.800000
360        Wigan     West Ham               13.200000               15.200000
361       Wolves        Stoke                     NaN                     NaN
362       Wolves    Newcastle               25.000000               18.000000
363       Wolves  Aston Villa               19.500000               14.500000
364       Wolves     West Ham               20.333333               16.666667
365       Wolves     Man City               19.500000               13.500000
366       Wolves      Arsenal               18.600000               16.600000
367       Wolves       Bolton               18.600000               18.200000
368       Wolves   Sunderland               20.600000               18.200000
369       Wolves   Birmingham               22.400000               13.800000
370       Wolves        Wigan               21.400000               19.600000
371       Wolves      Chelsea               24.400000                6.800000
372       Wolves    Liverpool               20.400000                9.200000
373       Wolves      Man Utd               22.200000               16.000000
374       Wolves    Blackpool               17.800000               23.800000
375       Wolves    Tottenham               20.200000               15.400000
376       Wolves      Everton               17.800000               20.000000
377       Wolves       Fulham               22.400000               13.600000
378       Wolves    West Brom               19.200000               12.600000
379       Wolves    Blackburn               20.200000               23.600000

[380 rows x 4 columns]